
<script src="/js/buttonMover.js"></script>



<button id="clickMeButton" class="btn btn-primary">Click Me!</button>
<div class="modal fade" id="congratsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="background-color: darkcyan; border-color: darkgrey; color: white;">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Congratulations!</h5>
        </div>
        <div class="modal-body">
          <p>You clicked a button!</p>
        </div>
      </div>
    </div>
  </div>
  
  
  