.header,
.footer,
.bg-dkcyan {
    background-color: darkcyan;

}

.leftCol,
.rightCol,
.bg-dkgray {
    background-color: darkgray;
}

html,
body {
    height: 100%;
}

.midRow {
    height: 100%;
}



.container-fluid {
    height: 100%;
}
